
@{
    ViewData["Title"] = "AddGearPieceToChannel";
}

<h1>AddGearPieceToChannel</h1>


<form asp-action="AddGearPieceToChannel" method="get">
@Html.DropDownList("GearTitle", "Select a Value")
    @*<input type="hidden"  />*@
    <input type="submit" value="Add Channel" class="btn btn-primary" />
</form>