@model analogCapstone.Models.Channel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Song.SongTitle)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.ChannelName)</h4>
    <hr />
    
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ChannelId">Edit</a> |
    <a asp-action="SongChannelsIndex" asp-route-id="@Model.Song.SongId">Back To All Channels</a>
</div>
