@model analogCapstone.Models.ChannelToGear
@{
    ViewData["Title"] = "RemoveGearFromSpecificChannel";
}

<h1>DELETEEDDDDD!!!!!</h1>
<img src="https://i.pinimg.com/originals/0e/2a/99/0e2a9928153a4b0b0ec49bce0e5e163c.jpg" alt="..." class="img-thumbnail">

<div>
    <a asp-action="Details" asp-route-id="@Model.ChannelId">Back to List</a>
</div>