@model analogCapstone.Models.Song

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Song</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SongId" />
            <div class="form-group">
                <label asp-for="SongTitle" class="control-label"></label>
                <input asp-for="SongTitle" class="form-control" />
                <span asp-validation-for="SongTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandArtistName" class="control-label"></label>
                <input asp-for="BandArtistName" class="form-control" />
                <span asp-validation-for="BandArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">To All Mixes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
